<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
<classes>
      <class name="com.phptravelsnew.scripts.CustomerFrontEndTestClass"/>
 <class name="com.phptravelsnew.scripts.AgentFrontEndTestClass"/>
<class name="com.phptravelsnew.scripts.AdminBackEndEndTestClass"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
